@model Publinter.Models.Orden_Create_Model

<style>
    .inline-element {
        display: inline-block;
    }

    .lblTotal {
        color: black;
        font-size: 20px;
    }

    .iconLineas {
        font-size: 28px;
    }

    .btnLineas {
        margin-top: 15px;
        position: relative;
        top: 15px;
    }

    #datosFooter {
        text-align: center;
        padding-top: 5px;
        border-top: 1px solid #eeecec;
        position: relative;
        top:15px;
    }
    /*prueba defs pdf*/
    .btns-footer{
        padding-top:60px;
    }
</style>
<div class="col-xs-12">

    <div id="datosFooter" class="col-sm-12">
        <label class="inline-element lblTotal">INVERSIÓN TOTAL: $</label>
        <label id="totalOrden" class="inline-element lblTotal">0.00</label>
        @Html.HiddenFor(x => x.TotalOrden)
    </div>

</div>
<div class="col-sm-12 btns-footer">
    <div class="pull-left col-sm-6" style="padding:0px">
        <a class="inline-element" href="javascript:AgregarSiguienteMes()" title="Agregar siguiente mes">
            <i class="material-icons iconLineas">
                add_box
            </i>
        </a>
        <a class="inline-element" href="javascript:CopiarUltimoMes()" title="Copiar último mes">
            <i class="material-icons iconLineas" style="    font-size: 25px !important;position: relative;bottom: 1px;">
                file_copy
            </i>
        </a>
    </div>
    <div class="pull-right col-sm-6" style="padding:0px">
        <input type="button" id="btnGuardar" class="btn btn-success pull-right" value="Guardar" onclick="GuardarOrden()" style="position: relative;top: 20px;" />
    </div>
</div>


