@model DataModule.Entities.Medio

    @Html.Partial("~/Views/Medio/Programa/_medio_programa_renglones.cshtml")
    <a href="javascript:void(0);" title="Agregar medio" onclick="AddProgramaRenglon();">
        <i class="material-icons" style="font-size:33px;">
            add_box
        </i>
    </a>


