@model DataModule.Entities.Medio


<div class="row">
    <div class="col-xs-12">

        @Html.Partial("~/Views/Medio/Programa/_medio_programa_renglones.cshtml")
        <a href="javascript:void(0);" title="Agregar programa" onclick="AddProgramaRenglon();">
            <i class="material-icons" style="font-size:33px;">
                add_box
            </i>
        </a>
    </div>
</div>
