@model Publinter.Models.CampaniaModel

<div class="row">
    <div class="col-xs-4" style="padding-right:0px;">Títuo</div>
    <div class="col-xs-4">Tipo</div>
    <div class="col-xs-3">Duración<span style="font-size:10px;color:#ccc;margin-left:4px;">(seg)</span></div>
    <div class="col-xs-1">
        
    </div>
</div>
    @for (var index = 0;index < Model.Materiales.Count;index++)
    {
        ViewData["indexMaterial"] = index;
        @Html.Partial("~/Views/Campania/Create/_create_renglon_material.cshtml")

    }


