@model Publinter.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    div#loginFondo {
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(82%);
        filter: FlipH;
        height: 100%;
        background-image: url('../../Content/Images/fondoLogin.png');
    }
    div.login-box-body {
        background-color: transparent;
        /*margin-left:40%;*/
    }

    form#formLogin input {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #fff;
        color: white;
        padding-left:34px;
    }

        form#formLogin input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white;
            opacity: 1; /* Firefox */
        }

    #validar {
        border-radius: 3px;
        color:white;
        opacity:0.7;
    }




    .form-control-feedback {
        left: 0!important;
        color:white!important;
    }
</style>

<script type="text/javascript">

</script>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro" rel="stylesheet">
    <title>Publinter</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="../../Content/Admin/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../Content/Admin/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../../Content/Admin/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../Content/Admin/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../../Content/Admin/dist/css/skins/_all-skins.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div id="loginFondo" class="col-xs-12">
        <!-- /.login-logo -->
        <div class="row">
            <div class="col-xs-6" style="margin-left:1%;margin-top:1%;">
                <img style="max-width:300px" src="~/Content/Images/Logo-Publinter-light-2017.png" />
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1" style="margin-top:3%;">
           <div class="login-box-body col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">

                <p class="login-box-msg" style="padding-left:0; font-family: 'Source Sans Pro', sans-serif;font-family: 'Raleway', sans-serif; font-size:30px;color:white;text-align:left;">Bienvenido</p>

                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "formLogin" }))
                {
                    <div class="form-group has-feedback">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        <input id="Usuario" name="Usuario" type="text" class="form-control" placeholder="Usuario" onfocusout="javascript:focusOutUser(this.value);">
                        @*<span class="glyphicon glyphicon-envelope form-control-feedback"></span>*@

                    </div>
                    <div class="form-group has-feedback" style="margin-bottom:0px">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <input id="Clave" name="Clave" type="password" class="form-control" placeholder="Password" onfocusout="javascript: focusOutPass(this.values);">

                    </div>
                    <div class="row">
                        <div class="col-xs-12" style="height:20px;">
                            <span id="error" style="color:red; display:none;"> Usuario o clave invalida.</span>
                        </div>
                    </div>
                    <div class="row">
                        @*<div class="col-xs-8">
                            <div class="checkbox icheck">
                                <label>
                                    <input type="checkbox"> Recordarme
                                </label>
                            </div>
                        </div>*@
                        <!-- /.col -->
                        <div class="col-xs-12">
                            <button id="validar" type="button" class="btn btn-primary btn-block btn-flat" onclick="javascript: ValidarLogin();">Entrar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }
            </div>
            <!-- /.login-box-body -->
        </div>
    </div>
    
    <!-- /.login-box -->
    <!-- jQuery 3 -->

    <script src="~/Content/Admin/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->

    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- iCheck -->

    <script src="~/Content/Admin/plugins/iCheck/icheck.min.js"></script>
    @*<script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });</script>*@
    <script src="~/Scripts/Utils.js"></script>
    <script src="~/Scripts/Publinter/Login.js"></script>
</body>
</html>
