
CREATE PROCEDURE GET_NRO_ULTIMA_ORDEN
	@USUARIOID int = 0
AS
BEGIN
	SET NOCOUNT ON;
    
	SELECT
		CASE WHEN COUNT(*) > 0 THEN MAX(O.NroOrden) ELSE 0 END
	FROM 
		ORDEN O
	SET NOCOUNT OFF;
END
