
CREATE PROCEDURE GET_UTIMO_NUMERO_ORDEN_DECOMPRA
AS
BEGIN
	SET NOCOUNT ON;
	SELECT
		CASE WHEN COUNT(*) > 0 THEN MAX(Oc.NumeroDeOrdenDeCompra) ELSE 0 END
	FROM OrdenDeCompra Oc
	   
	SET NOCOUNT OFF;
END


