@model DataModule.Entities.Medio

    @Html.Partial("~/Views/Medio/Contacto/_medio_contacto_renglones.cshtml")
    <a href="javascript:void(0);" title="Agregar contacto" onclick="AddMedioRenglon();">
        @*<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>*@
        <i class="material-icons" style="font-size:33px;">
            add_box
        </i>
    </a>