@model IList<DataModule.EntitiesResult.Get_All_Cliente>

@{
    ViewBag.Title = "Listado de clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function(){
        InitTable("#ListadoClientesTable");
    });

</script>

<link href="~/Content/Admin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<div class="box">
    <div class="box-header">
        <h3 class="box-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Clientes</font></font></h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="col-sm-12">
                <table id="ListadoClientesTable" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Telefono</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var i in Model)
                            {
                                <tr>
                                    <td><a href="../../Cliente/Edit/@i.ClienteId">@i.Nombre</a></td>
                                    <td>@i.Email</td>
                                    <td>@i.Telefono</td>

                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>
<script src="~/Content/Admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Utils.js"></script>